<!-- **********************************setup************************************ -->
<%- include("parts/header") %>
<%- include("parts/navbar") %>

<!-- **********************************container************************************ -->

<div class="container" id="content">
    
</div>

<!-- **********************************setup************************************ -->
<%- include("parts/search") %>
<%- include("parts/scripts") %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/onlineFriends.js"></script>
</body>
</html>
    
